.container {
  display: flex;
}

.grid-user {
width: 400px;
height: 400fx;
display: flex;
flex-wrap: wrap;
background-color: blue;
margin: 20px;
}

.grid div {
  width: 40 px;
  height: 40 px;
}

.grid-computer {
  width: 400px;
  height:400px;
  display: flex;
  background-color: yellow;
}

  
  .grid-display {
  width: 400px;
  height:400px;
  margin: 20px;
  background-color: yellow;
}

.destroyer-container {
  width: 80px;
  height:40px;
  background-color: grey;
  margin: 10px;
}
  
.submarine-container {
  width: 40px;
  height:50px;
  background-color: grey;
  margin: 10px;
}

.ship div {
  width: 40px;
  height:40px;
}
