.grid-user {
width: 400px;
height: 400fx;
display: flex;
flex-wrap: wrap;
background-color: blue;
}

.grid div {
  width: 40 px;
  height: 40 px;
}

.grid-computer {
  width: 400px;
  height:400px;
  display: flex;
  
